body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template: auto 1fr auto / 1fr 3fr;
}

.sidebar {
  background-color: #1a92d5;
  grid-area: 1/1/3/2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr 2fr;
  justify-items: center;
  padding-top: 10px;
}

.header {
  grid-column: 2/3;
  min-height: 80px;
}

.content {
  background-color: lightgrey;
  grid-area: 2/2/3/3;
}

.footer {
  background-color: #383898;
  grid-area: 3/1/4/3;
}

#logo {
  width: 40px;
  height: 40px;
  /* margin-right: -20px; */
  margin-bottom: 20px;
}

.sidebar-names {
  grid-column: 2/3;
  justify-self: start;
  color: white;
  text-decoration: none;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.sidebar-icon {
  filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(288deg)
    brightness(105%) contrast(106%);
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: -20px;
}

#sidebar-header {
  font-size: larger;
}

/* styling search bar */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.search {
  border: 1px solid rgb(162, 162, 162);
  border-radius: 25px;
  height: 20px;
  padding: 5px;
  float: left;
  margin: 7px;
}

.search input[type="text"] {
  /* border-radius: 25px;*/
  border: none;
}

.search button {
  background-color: #ffffff;
  color: #bbbbbb;
  float: left;
  height: 20px;
  padding-right: 0;
  border: none;
  cursor: pointer;
}
