* {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template: auto 88vh / minmax(170px, 230px) 3fr;
  overflow: scroll;
  align-self: center;
  /* margin: 20px; */
}

.footer {
  background-color: #383898;
  grid-area: 3/1/4/3;
}

/* styling sidebar */

.sidebar {
  background-color: #1a92d5;
  grid-area: 1/1/3/2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr 2fr;
  justify-items: center;
  padding-top: 10px;
  align-content: start;
}
#logo {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.sidebar-names {
  grid-column: 2/3;
  justify-self: start;
  color: white;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.sidebar-icon {
  filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(288deg)
    brightness(105%) contrast(106%);
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: -20px;
}

#sidebar-header {
  font-size: larger;
}

/* styling header area */

.header {
  grid-column: 2/3;
  min-height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  align-items: start;
  /* margin-top: 10px; */
}

/* styling search bar */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.search {
  border: 1px solid rgb(162, 162, 162);
  border-radius: 25px;
  height: 20px;
  padding: 5px;
  float: left;
}

.search input[type="text"] {
  border: none;
}

.search button {
  background-color: #ffffff;
  color: #bbbbbb;
  float: left;
  height: 20px;
  padding-right: 0;
  border: none;
  cursor: pointer;
}

/* header right side */

.header-right {
  display: flex;
  margin-right: 10px;
  gap: 20px;
  justify-self: end;
  align-items: center;
}

.notification svg {
  color: #8d8d8d;
}

.profile-icon {
  height: 50px;
  width: 50px;
}

.profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* style content area */

.content {
  background-color: lightgrey;
  grid-area: 2/2/3/3;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 2fr minmax(100px, 1fr);
  grid-template-rows: 1fr auto;
  overflow: auto;
}

h3 {
  grid-column: 1/-1;
  /* grid-area: 1/1/2/-1; */
  margin: 0;
  padding: 5px;
}

/* style card area  */
.card-container {
  grid-area: 1/1/3/2;
  overflow: auto;
  display: grid;
  grid-template-rows: 30px repeat(auto-fit, minmax(250px, 30%));
  grid-template-columns: repeat(auto-fit, minmax(150px, 30%));
  gap: 15px;
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
}

.card-img {
  background-color: white;
  height: 70%;
  width: 100%;
}

.card-title {
  margin: 10px;
}

.card-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-bar {
  margin: 0;
}

.card button {
  background: none;
  border: none;
}

.card svg {
  color: blue;
}

/* style updates container */

.updates-container {
  background-color: lightgrey;
  padding: 15px;
}

.updates-box {
  border: 1px solid black;
  padding: 0 10px;
}

.reminder-title {
  margin: 10px 0;
}
